body{
	background-color: #610041;
	color:#ffffff;
}

h1, h2, h3, ul {
	color: #ffffff;
	text-align: center;
}

 #slogan {
 	font-style: italic;
 	background-color: #000000;
 	text-align: center;
 }

p{
	color: #ffffff;
	text-align: center;
}

img{
	align: center;
}