@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);




body{
	background-color: #610041;
	color:#ffffff;
	text-align: center;
	
}

h1, h2, h3, ul {
	color: #ffffff;
	text-align: center;
	font-family: 'Amatic SC', cursive;
}

ul{
	list-style: none;
}

 #slogan {
 	font-style: italic;
 	background-color: #000000;
 	text-align: center;
 }

p{
	color: #ffffff;
	text-align: center;
	font-family: 'Amatic SC', cursive;
}

img{
	align-content: center;
}

main{
	background-color: #ff9999;
	border: 1px white solid;
	padding: 20px;
}

aside{
	background-color: #9999ff
	border: 1px white solid;
	padding: 20px;
}

footer{
	background-color: #ff99ff;
	border: 1px white solid;
	padding: 20px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: 0;
    clear: both;
    height: 0;
}

