@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Oswald);

title
{font-size: 30px;
font-family: 'Comfortaa';
text-align: center;
color: #ffffff;
}
body
{background-image: url(http://i.imgur.com/YbBBCZE.jpg);
}
p{
	font-size: 40px;
	font-family: 'Comfortaa';
	text-align: center;
	color: #f2b398;
	background-color: #ffffff;
	margin-right: 260px;
	margin-left: 260px;
}
h1
{font-size: 30px;
font-family: 'Bree+Serif';
font-weight: normal;
color: 	#778fa9;
font-style: italic;
text-align: center;
background-color: #ffffff;
margin-left: 250px;
margin-right: 250px;}

h2
{font-size: 30px;
font-family: 'Oswald';
font-weight: bold;
color: #f2b398;
text-align: center;
background-color: #ffffff;
margin-left: 250px;
margin-right: 250px;
}

ul li{
	text-align: center;
display:inline;
	color: #f2b398;
	margin-left: 400px;
}