@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

title
{font-size: 30px;
font-family: 'Comfortaa';
text-align: center;
color: #ffffff;
}
body
{background-image: url(http://i.imgur.com/YbBBCZE.jpg);
}
p{
	font-size: 40px;
	font-family: 'Comfortaa';
	text-align: center;
	color: #f2b398;
}
h1
{font-size: 30px;
font-family: 'Bree+Serif';
font-weight: normal;
color: 	#778fa9;
font-style: italic;
text-align: center;}

h2
{font-size: 30px;
font-family: serif;
font-weight: bold;
color: #f2b398;
text-align: center;}

ul{
	text-align: center;
}