

title
{font-size: 30px;
font-family: serif;
text-align: center;
color: #ffffff;
}
body
{background-image: url(http://i.imgur.com/YbBBCZE.jpg);
}
h1
{font-size: 15px;
font-family: sans-serif;
font-weight: normal;
color: #dbb658;
}

h2
{font-size: 14px;
font-family: serif;
font-weight: bold;
color: #dbb658;}

ul{
	text-align: center;
}