div{	
	background-image: url("http://www.sanfrancisco.travel/sites/sftraveldev.prod.acquia-sites.com/files/SanFrancisco_0.jpg");
	font-color: white;
font-family: "Times";
	font-size: 20px;
	text-align: center;
	font-weight:bold;
	text-align:center;
	}
	title{
		font-size: 30px;
	}