
title{
	font-family: "Times";
	font-size: 20px;
	text-align: center;
	text-decoration-color: #0000FF;
}
body{
	font-family: "Times";
	font-size:15px;
	font-weight:bold;
	text-align:center;
	text-decoration-color: #0000FF;

}
