<style>
body{
	background-image: url(http://imgur.com/gallery/Sxr18o3)
	t
}
h1{
	background-color: #000000

}
p
ul{
	text-decoration: underline;
}
li{
	font-weight: bold;
}
img
#slogan{
	font-style: italic;
	font-family: "Times New Roman";
}
</style>